<div class="container">
    <h3 class="header center teal-text text-lighten-2">Admin Panel</h3>
    <div class="divider col s6 offset-s2 teal-text lighten-2"></div>
    <br>
    <table class="highlight">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {{#each users}}
            <tr>
                <td>{{ this.id }}</td>
                <td>{{ this.fullName }}</td>
                <td>{{ this.email }}</td>
                <td>
                    <a href="/admin/user/delete/{{this.id}}"><span class="chip"><b>Delete</b></span></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
