<div class="container body-content">
    <div class="row">
        <div>
            Username: {{user.fullName}}
        </div>
        <div>
            Email: {{user.email}}
        </div>
        <div>
            Date Registered: {{user.regDate}}
        </div>
    </div>
</div>
