<div id="index-banner top" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Join Us</h1>
            <div class="row center">
                <h5 class="header col s12 light">Join <b class="header center teal-text text-lighten-2">Quoter</b> and share your thoughts with people all around the world.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/stylesheets/images/background6.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="col s10 offset-s1" method="post" action="/user/login">
            <h3 class="header center teal-text text-lighten-2">Login</h3>
            <div class="divider col s6 offset-s2 teal-text lighten-2"></div>
            <br>
            <div class="row">
                <div class="input-field col s4 offset-s4">
                    <div class="col-sm-4 ">
                        <i class="material-icons">language</i> Email
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s4">
                    <div class="col-sm-4">
                        <i class="material-icons">lock</i> Password
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 center">
                    <a type="reset" class="btn btn-default" href="/">Cancel</a>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
                <br><br>
            </div>
        </form>
    </div>
</div>


