
<form class="col s10 offset-s1" method="post" action="/user/register">
    <h3 class="header center teal-text text-lighten-2">Register</h3>
    <div class="divider col s6 offset-s2 teal-text lighten-2"></div>
    <br>
    <div class="row">
        <div class="input-field col s5 offset-s1">
            <div class="col-sm-4 ">
                <i class="material-icons">language</i> Email
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" required value={{email}} >
            </div>
        </div>
        <div class="input-field col s5">
            <div class="col-sm-4 ">
                <i class="material-icons">person_pin</i> Username
                <input type="text" class="form-control" id="inputFullName" placeholder="Username" required name="fullName" value={{fullName}}>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s5 offset-s1">
            <div class="col-sm-4">
                <i class="material-icons">lock</i> Password
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="password">
            </div>
        </div>
        <div class="input-field col s5">
            <div class="col-sm-4">
                <i class="material-icons">lock</i> Confirm Password
                <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" required name="repeatedPassword">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 center">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <br><br>
    </div>
</form>