<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="col s10 offset-s1" method="POST" action="/article/create">
            <h3 class="header center teal-text text-lighten-2">New Post</h3>
            <div class="divider col s6 offset-s2 teal-text lighten-2"></div>
            <br>
            <div class="row">
                <div class="input-field col s4 offset-s4">
                    <div class="col-sm-4 ">
                        <i class="material-icons">message</i> Quote
                        <input type="text" class="form-control" id="articleTitle" placeholder="Quote" name="title" required >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s4">
                    <div class="col-sm-4">
                        <i class="material-icons">person_pin</i> Author
                        <input type="text" class="form-control" id="articleContent" name="content" placeholder='Author (type "Unknown" if not available)' required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 center">
                    <a type="reset" class="btn btn-default" href="/wall">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <br><br>
            </div>
        </form>
    </div>
</div>



