<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Parallax Template - Materialize</title>
</head>
<body>
<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large green" href="#top">
        <i class="material-icons">navigation</i>
    </a>
</div>
<div id="index-banner top" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">QUOTER</h1>
            <div class="row center">
                <h5 class="header col s12 light">All quotes everywhere!</h5>
            </div>
            <div class="row center">
                <a href="/wall" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 card-panel hoverable">Wall</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/stylesheets/images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

{{#if user}}
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">info</i></h2>
                        <h5 class="center">What is "Quoter"?</h5>

                        <p class="light center">Quoter is the place where you can learn how to express yourself. Here you can share your quotes with people all around the world, see what they think and learn different thoughts about life</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{/if}}
{{#unless user}}
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row offset-4">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">info</i></h2>
                        <h5 class="center">What is "Quoter"?</h5>

                        <p class="light">Quoter is the place where you can learn how to express yourself. Here you can share your quotes with people all around the world, see what they think and learn different thoughts about life</p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Join Us</h5>

                        <p class="light">You can see our <a class="header center teal-text text-lighten-2" href="/wall">wall</a> with most recent posts, or <a href="/user/login" class="header center teal-text text-lighten-2">login</a> and post one yourself! Don't have an account? Don't wait! Join Quoter and share your thoughts. <a href="/user/register" class="header center teal-text text-lighten-2">Register</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{/unless}}
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center hoverable">
                <h3 class="header col s12 light ">Develop a passion for learning. If you do, you will never cease to grow.</h3>
                <h5 class="header col s12 light ">Antony J. D'Angelo</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/stylesheets/images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h2 class="center brown-text"><i class="medium material-icons">trending_up</i></h2>
                <h4>Developers</h4>
                <div class="container">
                    <div class="section">

                        <!--   Icon Section   -->
                        <div class="row">
                            <div class="col s12 m4">
                                <div class="icon-block">
                                    <img class="circle responsive-img" style="border: solid white 2px" src="https://scontent.fsof2-1.fna.fbcdn.net/v/t1.0-9/13256077_507967389375722_8747012705584150802_n.jpg?oh=ad7ccda000d091da81c35178c3138544&amp;oe=59377881" alt="Stefan Petrov avatar" height="200" width="200">
                                    <h5 class="center">Stefan Petrov</h5>

                                    <p class="light">Stefan is currently studying Software Technologies at SoftUni (Software University). He is one of the developers of Quoter.</p>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="icon-block">
                                    <img class="circle responsive-img" style="border: solid white 2px" src="https://scontent.fsof2-1.fna.fbcdn.net/v/t1.0-9/11947628_485029141670405_6902279186667194896_n.jpg?oh=0c3fe500dad24a42c9db5ace9f39acf9&amp;oe=596ED991" alt="Deyan Peychev avatar" height="200" width="200">
                                    <h5 class="center">Deyan Peychev</h5>

                                    <p class="light">Deyan is currently studying Software Technologies at SoftUni (Software University). He is one of the developers of Quoter.</p>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="icon-block">
                                    <img class="circle responsive-img" style="border: solid white 2px" src="https://scontent.fsof2-1.fna.fbcdn.net/v/t1.0-9/15940484_1251088838310395_2156689392945410071_n.jpg?oh=d6456b1c8d6d532d50b0e4b20f290a32&amp;oe=592AA55E" alt="Kristian Subev avatar" height="200" width="200">
                                    <h5 class="center">Kristian Subev</h5>

                                    <p class="light">Kristian is currently studying Software Technologies at SoftUni (Software University). He is one of the developers of Quoter.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container hoverable">
            <div class="row center">
                <h3 class="header col s12 light ">Keep your eyes on the stars and your feet on the ground.</h3>
                <h5 class="header col s12 light ">Teddy Roosvelt</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/stylesheets/images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
</body>
</html>
